/*鼠标样式  */
* {
	cursor: url('../img/mouse.cur'),default;
}
/*立体阴影  */
.body{
	text-shadow: 10px 8px 1px #CFCFCF;
}
/*表格立体阴影  */
.table{
	box-shadow: 30px 20px 15px #888888;
}
/*查询框样式  */
.searchAll {
	display: none;
	z-index: 99;
	position: absolute;
	width: 70px;
	top: 25px;
	left: 615px;
	
}	
